html, body {
  margin: 0;
  padding: 0;
  background: #05060a;
  height: 100%;
  overflow: hidden;
  touch-action: none; /* important on mobile */
  -webkit-user-select: none;
  user-select: none;
}
#c {
  display: block;
  width: 100vw;
  height: 100vh;
}